{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": false,
    "printWidth": 120
}